[submodule "libraries/Adafruit_BNO055"]
	path = libraries/Adafruit_BNO055
	url = https://github.com/adafruit/Adafruit_BNO055.git
[submodule "libraries/Adafruit_Sensor"]
	path = libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "libraries/RF24"]
	path = libraries/RF24
	url = https://github.com/nRF24/RF24
